.galeria {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.galeria img {
  height: 200px;
  width: 300px;
  transition: all 0.5s ease-in-out;
}
.galeria img:hover {
  transform: scale(1.1);
  z-index: 1;
}

.galeria1,
.galeria2 {
  border: 15px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
